*{

margin:0;

padding:0;

box-sizing:border-box;

}

body{

background:#111111;

color:white;

font-family:'Pretendard',sans-serif;

height:100vh;

overflow:hidden;

display:flex;

justify-content:center;

align-items:center;

}

.page{

width:90%;

max-width:700px;

text-align:center;

animation:fade .8s;

}

.progress{

position:absolute;

top:35px;

right:35px;

color:#888;

font-size:15px;

}

.to{

font-size:28px;

margin-bottom:25px;

color:#F8A5C2;

}

#title{

font-family:'Playfair Display',serif;

font-size:60px;

line-height:1.3;

min-height:150px;

}

.sub{

margin-top:35px;

font-size:22px;

line-height:1.8;

color:#cccccc;

opacity:0;

animation:fade 1s forwards;

animation-delay:2.3s;

}

.click{

position:absolute;

bottom:45px;

left:50%;

transform:translateX(-50%);

color:#777;

animation:blink 2s infinite;

}

@keyframes blink{

50%{

opacity:.2;

}

}

@keyframes fade{

from{

opacity:0;

transform:translateY(15px);

}

to{

opacity:1;

transform:translateY(0);

}

}

.fadeout{

animation:out .8s forwards;

}

@keyframes out{

to{

opacity:0;

}
}

@media(max-width:768px){

#title{

font-size:42px;

}

.sub{

font-size:18px;

}

}
