*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

background:#111111;

color:white;

font-family:'Pretendard',sans-serif;

height:100vh;

display:flex;

justify-content:center;

align-items:center;

overflow:hidden;

}

.page{

text-align:center;

width:90%;

max-width:700px;

}

.progress{

position:absolute;

top:35px;
right:35px;

color:#777;

font-size:15px;

}

h1{

font-size:54px;

color:#F8A5C2;

opacity:0;

transition:1s;

}

p{

margin-top:35px;

font-size:24px;

line-height:1.8;

opacity:0;

transition:1s;

}

#from{

margin-top:80px;

font-size:18px;

color:#999;

opacity:0;

transition:1s;

}

.show{

opacity:1;

}

@media(max-width:768px){

h1{

font-size:40px;

}

p{

font-size:19px;

}

}
